<%= cache "posts/#{post.slug}/#{post.updated_at}" do %>
  <div class="post block">
    <h1 class="post-header block-header">
      <%= link_to post.title, post %>
      <%= timeago post.created_at %>
    </h2>
    <hr class="double-line" />
    <div class="block-content">
      <% unless post.tags.blank? %>
        <ul class="post-tags clearfix">
          <% post.tags.each do |tag| %>
            <li><%= link_to tag.title, tag %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="content">
        <%= markdown post.content %>
      </div>
    </div>
  </div>
<% end %>
